#position_form #id_fk_ApplicantID {
  /*display: none;*/
}

.twocollum {
  /*-webkit-column-count:2; *//* Chrome, Safari, Opera */
  /*-moz-column-count:2; *//* Firefox */
  /*column-count:2;*/
}

#live-search .text-input {
  color: #AFAFAF;
}

#live-search .using {
  color: #333;
}

.colitem {
  float: left;
  width: 50%;
}

#id_fk_CreatedBy {
  display: none;
}

.applied {
  content: "Allready Applied";
  display: none;
}

@media (min-width: 768px) and (max-width: 979px) {
  /*.container-fluid {*/
  /*margin-top: 60px;*/
  /*}*/
}

@media (max-width: 767px) {
  /*.container-fluid {*/
  /*margin-top: 60px;*/
  /*}*/
}

@media (max-width: 979px) {
  /*.container-fluid {*/
  /*margin-top: 60px;*/
  /*}*/
}

@media (min-width: 980px) {
  .container-fluid {
    /*margin-top: 60px;*/
  }
}

@media (min-width: 1200px) {

  .container-fluid {
    /*margin-top: 60px;*/
  }
}


