{% extends 'matching_system_project/base.html' %}

    {% load static %}
    {% block title %}   {% endblock %}
    {% block body_block %}

        <h1>Matching Projects with Employees</h1>  <h3>Find the next project you want to work on!</h3>
        <a href="/admin/">ADMIN LOGIN</a><br />

        {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}!</h1>
        {% else %}
        <h1>You are not registered yet</h1>
        {% endif %}

        {% if projects %}
          {% for project in projects %}
             {% if project.fk_CreatedBy == user %}
               <h3>{{ project.projectName }}</h3>
               <hr>
                {% for position in positions %}
                  {% if position.projectID == project %}
                    <h4>{{ position.title }} Applicants</h4>
                   {% for application in applications %}
                      {% if application.PositionID == position %}
                       <span>{{application.UserID}} </span>
{#                       {{application.PositionID}} #}
                       </span>
                       {{application.dateTimeCreated}}

                      {% endif %}
                   {% endfor %}
                  {% endif %}
                {% endfor %}
             {% endif%}
          {% endfor %}
        {% endif %}

      {% if  projects %}
          {% for project in projects %}
                {% for position in positions %}
                  {% if position.projectID == project %}
                   {% for application in applications %}
                      {% if application.PositionID == position %}
                       {% if application.accepted == False %}
                       <p>{{application.UserID}} </p>


                    <input type="hidden" name="app_id" value="{{ application.id }}"/>

                  <script type="text/javascript">

                    $("a.accept").click(function(){
                      var curr_elem = $(this) ;
                      $.get($(this).attr('href'), function(data){
                        var my_div = $(curr_elem).parent().find("b");
                        my_div.text(my_div.text()*1+1);
                      });

   {#                $(this).addClass("accepted");#}

                      return false; // prevent loading URL from href
                    });
                  </script>

       <a href="/accept/{{ application.id }}" class="accept">Ajax Accept</a>

                       <p>{{application.PositionID}} <p/>
                       <p>{{application.dateTimeCreated}}<p/>
                       <p>
                           {% if application.accepted %}
                              <p><b>Success</b></p>
                           {% else %}
                              <p><b>Not accepted yet</b></p>
                           {% endif %}
                       </p>
                       <p>
                           {% if application.seenByPM %}
                           <p><b> Application has been seen by PM</b></p>
                            {% else %}
                            <p><b>Application was not seen by PM</b></p>
                           {% endif %}
                       </p>
                       {% endif %}
                      {% endif %}
                   {% endfor %}
                  {% endif %}
                {% endfor %}

          {% endfor %}
        {% endif %}








  {% endblock  %}




