{% extends 'matching_system_project/base.html' %}

{% load static %}
{% block title %}   {% endblock %}
{% block body_block %}

  <h1>Positions to which you have applied</h1>

  {% if user.is_staff == 0 %}


    {% if projects %}
      {% for project in projects %}



        {% for position in positions %}
          {% if position.projectID == project %}

            {% for application in applications %}
              {% if application.PositionID == position %}
                {% if application.UserID.id == user.id %}

                  <div class=""><h3>{{ position.title }}</h3></div>

                  <p class="">Applied on: {{ application.dateTimeCreated }}</p>

                  {% if application.accepted == True %}
                    <div class="alert-success alert">Successful</div>
                  {% else %}
                    <div class="alert-info alert">Pending</div>
                  {% endif %}
                  <hr>




                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}

      {% endfor %}
    {% endif %}



  {% endif %}






{% endblock %}




