{% extends 'matching_system_project/base.html' %}

    {% load static %}
    {% block title %}   {% endblock %}
    {% block body_block%}

        <h1>Available Positions</h1>  <h3>Find the next project you want to work on!</h3>

{#        {% if user.is_authenticated %}#}
{#        <a href="/applist/"> Applications  </a>#}
{#        {% else %}#}
{#        <h1>You are not registered yet</h1>#}
{#        {% endif %}#}

            <strong>{{ boldmessage }}</strong><br />

        {% if positions %}
                {% for position in positions %}
                {% if position.isOpen %}

            <hr>

            <div class="position">
            <p>
                <h4><span class="span6 text-left ">{{position.title}}</span></h4>
                <span class="span6 text-right text-info">{{position.dateTimeStarts}}  - {{position.dateTimeExpires}}</span>

            </p>
            <a href=/projects/{{position.projectID.url}}>{{position.projectID.projectName}} </a>
            <p>
                {{position.description}}
            </p>
            <br/>

                  <input type="hidden" name="profile_id" value="{{ user.id }}"/>

                  <script type="text/javascript">

                    $("a.apply").click(function(){
                      var curr_elem = $(this) ;
                      $.get($(this).attr('href'), function(data){
                        var my_div = $(curr_elem).parent().find("b");
                        my_div.text(my_div.text()*1+1);
                      });

{#                      $(this).addClass("applied");#}

                      return false; // prevent loading URL from href
                    });
                  </script>
            </div>


{#            <a href="{{ position.projectID}}">Apply</a>#}
              <a href="/projects/{{ position.projectID.url }}" class="btn">View Project</a>
              <a href="/apply/{{ user.id }}/{{ position.id }}" class="apply btn">Apply Now</a>

                {% endif %}
                {% endfor %}
        {% else %}
        <strong>There are no projects present.</strong>
        {% endif %}

    {% endblock  %}



<!--<a href="/admin/">ADMIN LOGIN</a><br />-->
<!--<a href="/projects/add_project">Add a New Project</a>-->
<!--<a href="/projects/add_position/">Add a New Position</a>-->
<!--<a href="/register/">Register Here</a>-->
<!--<a href="/login/">Login</a>-->


