<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

<head>
  <title>Matching System</title>
</head>

<body>
<div id="header">
  <img src="{% static "dog.jpg" %}" alt="Picture of Dog" />
</div>
<h1>Rango says...</h1>
hello world! <strong>{{ boldmessage }}</strong><br />

{% if projects %}
  <ul>
    {% for project in projects %}
      <li>{{ project.projectName }}</li>
    {% endfor %}
  </ul>
{% else %}
  <strong>There are no projects present.</strong>
{% endif %}


<a href="/admin/">ADMIN LOGIN</a><br />
</body>

</html>
