{% extends 'matching_system_project/base.html' %}


    <!--<head>-->
        <!--<title>Login for Matching System Project</title>-->
    <!--</head>-->


        <h1>Login to Matching System</h1>

        {% block title %}  <title>Matching System Project: Login</title> {% endblock %}
        {% block body_block %}

        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

        {% endblock %}
