{% extends 'matching_system_project/base.html' %}

{% load static %}


<!--<head>-->
  <!--<title>Matching System</title>-->
    <!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>-->
<!--</head>-->

    {% load static %}
    {% block title %} <title>Matching System Project: Projects</title>  {% endblock %}
    {% block body_block%}
      <div class="alert alert-info ">
            <h1>{{ projectName }}</h1>
      <span>{{ description }}</span></div>

            {% if position_list %}
            <div class="alert-success alert"><h2>Open Positions</h2></div>

                    {% for position in position_list %}
                        {% if projectName == position.projectID.projectName %}
                            {% if position.isOpen %}

                        <hr>
                              <h4><span class="span6 text-left ">{{position.title}}</span></h4>
                              <span class="span6 text-right text-info">{{position.dateTimeStarts}}  - {{position.dateTimeExpires}}</span>
                        <p>
                            {{position.description}}
                        </p>
                        <br/>
                            <a href="{{position.projectID}}">Apply</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

            {% else %}
            <strong>No open positions for this project.</strong>
        {% endif %}


{% if position_list %}
  <h2>Current Team</h2>
  <ul>
    {% for position in position_list %}
      {% if projectName == position.projectID.projectName %}
{#        {% if position.fk_ApplicantID == True %}#}

          <hr>
          <p>
            {{position.title}} &nbsp &nbsp  &nbsp  &nbsp

            {{ position.fk_ApplicantID}}

            {{position.dateTimeStarts}}  - {{position.dateTimeExpires}}

          </p>
          <br/>
{#          <a href="{{position.projectID}}">Apply</a>#}
          <hr>
{#        {% endif %}#}
      {% endif %}
    {% endfor %}
  </ul>
{% else %}
  <strong>No open positions for this project.</strong>
{% endif %}

<!--<a href="/admin/">ADMIN LOGIN</a><br />-->


{% endblock %}
