{% extends 'matching_system_project/base.html' %}

    <!--<head>-->
        <!--<title>Matching System: Register</title>-->
    <!--</head>-->

         <h1>Register with Matching System</h1>

        {% block title %}  <title>Matching System Project: Register</title> {% endblock %}
        {% block body_block %}

        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        Please <strong>register here!</strong><br />
        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            <!--{{ profile_form.as_p }}-->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
        {% endblock %}